/** TAGS */
.do-not-merge-tag {
	color: rgb(218, 29, 44) !important;
	font-weight: bold !important;
}

.wip-tag {
	color: rgb(221, 151, 0); !important;
	font-weight: bold !important;
}

.hotfix-tag {
	color: #FB6107 !important;
	font-weight: bold !important;
}

.epic-tag {
	color: rgb(104, 171, 197) !important;
	font-weight: bold !important;
}

.ip-tag {
	font-weight: bold !important;
}

/** ICONS */
.prh-icon {
	fill: lightgrey;
	padding-right: 3px;
}

.prh-icon-hotfix-active {
	fill: #FB6107;
}

.prh-icon-wip-active {
	fill: rgb(221, 151, 0);
}

.prh-icon-donotmerge-active {
	fill: rgb(218, 29, 44);
}

.prh-icon-epic-active {
	fill: rgb(104, 171, 197);
}

.prh-icon-sm{
	width: 15px;
	height: 15px;
	margin-bottom: -2px;
}

.prh-icon-lg{
	width: 20px;
	height: 20px;
	margin-bottom: -1px;
}

.prh-diff-text{
	color: steelblue;
}